.board {
    width: 600px;
    border: thick solid black;
    padding: 0;
    margin: auto
}
.info {
    width: 400px;
    font-family: 'Rubik',sans-serif;
    color: white;
    margin: auto;
}
.board-b72b1{
  padding: none;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: auto;
  background-color: #f5f5f5;
  margin: -10px;
}
#reload{
  font-family: 'Rubik',sans-serif; 
  font-size: 16px;
}
.move-history {
    max-height: 435px;
    font-family: 'Roboto Condensed',sans-serif;
    height: 435px;
    color: white;
    border: thick solid black;
    padding: 10px;
    background-color: #272523;
    box-sizing: content-box;
    overflow-y: scroll;
}
.heading-Text
{
  flex-grow: 3;
  float: left;
  font-family: 'Oswald', sans-serif;
  padding-left: 2%;
  font-size: 50px;
  padding-top: 10px;
  color: #000000; 
  margin: auto;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.chessboard-63f37{
  margin-left: 2px;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  width: 25%;
  align-self: flex-end;
  padding: 10px;
  padding-bottom: 0.5%;
}
#github{
  align-self: flex-end;
  padding-right: 15px;
  height: 35px;
  width: 35px;
}
#linkedin{
  align-self: flex-end;
  height:35px;
  width: 37px;
}